@import "reset.css";
@import "common.css";
@import "content.css";

body {
  padding: 50px 100px;
  height: 100vh;
  background-color: #f5f6f7;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50%;
}
.table td {
  padding: 20px;
}
.table tr td {
  width: 33.33%;
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.writeBtn {
  padding: 10px 20px;
}
.index_login_wrap {
  display: flex;
  justify-content: center;
}
.index_login_btn {
  padding: 10px 100px;
  border-radius: 5px;
  border: 0px;
  background-color: steelblue;
  color: white;
}
