@import "reset.css";

body {
  padding: 50px 100px;
  height: 100vh;
  background-color: #f5f6f7;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50%;
}
.table td {
  padding: 20px;
}
.table tr td {
  text-align: center;
}
.table tr td:nth-child(2) {
  width: 70%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.writeBtn {
  padding: 10px 20px;
}
.index_login_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index_login_btn {
  padding: 10px 100px;
  border-radius: 5px;
  border: 0px;
  background-color: steelblue;
  color: white;
  margin-bottom: 15px;
}
.index_join_btn {
  padding: 10px 95px;
  border-radius: 5px;
  border: 0px;
  background-color: steelblue;
  color: white;
}
#search_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  width: 300px;
  margin: 20px 20px;
}
#description {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}
#cancelBtn {
  margin-top: 20px;
}
#create_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#update_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
